<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Wikis</h1>
      <% if(currentUser) { %>
      <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <% } %>
      <ul class="list-group">

        <h4>Public Wikis</h4>
        <% wikis.forEach((wiki) => { %>
          <% if (wiki.private === false) { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          <% } %>
        <% }) %>

        <% if (currentUser && (currentUser.isAdmin() || currentUser.isPremium())) { %>
          <h4>Private Wikis</h4>
          <% wikis.forEach((wiki) => { %>
            <% if (wiki.private === true) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } %>
          <% }) %>
        <% } %>
      </ul>

    </main>
  </body>
</html>
